<h3>list of products available</h3>
<div>
  <div>
    <input type="text" class="form-control-sm" placeholder="search product name" [(ngModel)]="searchText">
    <button type="submit" value="search" class="fa fa-search form-control-sm" (click)="search()"> search</button>
  </div>
  <br>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>In-Stock</th>
      <th>actions</th>
    </tr>
    <tr *ngFor="let pro of products" [hidden]="!tableData">
      <td  (click)="buttons()" class="mose">
        {{pro.productId }}
      </td>
      <td>
        <span [hidden]="pro.editCell"> {{pro.productName}} </span>
        <input type="text" class="form-control-sm" [hidden]="!pro.editCell" [(ngModel)]="pro.productName" placeholder="Enter product name">
      </td>
      <td>
        <span [hidden]="pro.editCell"> {{pro.productPrice}} </span>
        <input type="text" class="form-control-sm" [hidden]="!pro.editCell" [(ngModel)]="pro.productPrice" placeholder="Enter product price">

      </td>
      <td>
        <span [hidden]="pro.editCell"> {{pro.inStock}} </span>
        <input type="text" class="form-control-sm" [hidden]="!pro.editCell" [(ngModel)]="pro.inStock" placeholder="Enter instock">
      </td>
      <td>
        <button type="submit" value="delete" class="fa fa-remove" (click)="delete(pro)"> delete</button> /
        <button type="submit" value="Edit" class="fa fa-edit" (click)="editMode(pro)" [disabled]="buttonDisable" [hidden]="buttonDisable"> edit</button>
        <button type="submit" class="fa fa-save" (click)="editData(pro)" [disabled]="!pro.editCell" [hidden]="!buttonDisable"> save</button>
      </td>
    </tr>
    <tr>
      <td colspan="5" [hidden]="tableData" style="text-align: center">not available!</td>
    </tr>
  </table>
  <span *ngIf="temp">
      <input type="button" value="add to cart">
    </span>
</div>
